@font-face {
  font-family: spongebob;
  src: url("../fonts/spongebob.ttf");
}

.bobfont {
  font-family: spongebob;
}

body {
  /*
  background-image: url("../images/sand2.png");
  /*
  background-image: url("../images/sky.png"), url("../images/clouds.png");
  background-position: left top, left top;
  background-size: contain, auto auto;
  background-repeat: no-repeat, repeat;
  */
}

#page {
  min-height: 100%;
}
