body {
  /*
  background: rgb(34, 130, 243);
  background: linear-gradient(
    0deg,
    rgba(34, 130, 243, 1) 0%,
    rgba(118, 252, 219, 1) 100%
  );
  */
}

#page {
  background-color: white;
  min-height: 100%;
}
