.counter {
    font-family: 'spongeboytt1regular';
    display: flex;
}

.spatula-img {
    height: 48px;
    width: 48px;
    background-image: url('../../images/golden_spatula.gif');
    background-size: 100% 100%;
    margin-right: -4px;
}

.shiny-img {
    height: 48px;
    width: 48px;
    background-image: url('../../images/shiny.gif');
    background-size: 100% 100%;
}

.sock-img {
    height: 48px;
    width: 48px;
    background-image: url('../../images/sock.gif');
    background-size: 100% 100%;
}

.collectable-img {
    height: 48px;
    width: 24px;
    /* background-image: url('../../images/golden_spatula.png');
    background-size: 100% 100%; */
}


.count {
    font-size: 24pt;
    color: rgb(255, 238, 0);
    text-shadow: 4px 4px #145877;
}